.hero {
    width: 100%;
    height: 100vh;
    background-image: url('/assets/img/1_background/hero.png');
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    color: white;
}